#LOL, #LOL-tab{

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fc5923+0,ef9504+100 */
background: #fc5923; /* Old browsers */
background: -moz-linear-gradient(top,  #fc5923 0%, #ef9504 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fc5923 0%,#ef9504 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fc5923 0%,#ef9504 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5923', endColorstr='#ef9504',GradientType=0 ); /* IE6-9 */

  
}

#DOTA2, #DOTA2-tab {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+47,7d3d89+100 */
background: #e570e7; /* Old browsers */
background: -moz-linear-gradient(top,  #e570e7 0%, #c85ec7 47%, #7d3d89 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#7d3d89 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e570e7 0%,#c85ec7 47%,#7d3d89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#7d3d89',GradientType=0 ); /* IE6-9 */

}

#Fornite, #Fornite-tab {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c9b75+1,5f8bd3+100 */
background: #4c9b75; /* Old browsers */
background: -moz-linear-gradient(top,  #4c9b75 1%, #5f8bd3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c9b75 1%,#5f8bd3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c9b75 1%,#5f8bd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c9b75', endColorstr='#5f8bd3',GradientType=0 ); /* IE6-9 */

}